<a href="https://colab.research.google.com/github/kipsangchepesa/Kipsang-DSP11/blob/main/Moringa_Data_Science_Prep_W3_Independent_Project_2021_08_Kipsang_Nicholas_Data_Analysis_on_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
CDR_description =pd.read_excel("CDR_description.xlsx")
CDR_description.head()

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String

In [ ]:
cells_geo =pd.read_csv("cells_geo.csv")
cells_geo.head()

  ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE
0  0;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
1  1;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
2  2;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
3  3;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
4  4;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...

In [ ]:
cells_geo_description =pd.read_excel("cells_geo_description.xlsx")
cells_geo_description.head()

    Column name        Description  Format
0        VILLES               City  String
1        STATUS  In Service or not  String
2  LOCALISATION  in ABIDJAN or not  String
3    DECOUPZONE  Geographical Zone  String
4      ZONENAME       Name of Zone  String

In [ ]:
Telcom_dataset1 = pd.read_csv("http://bit.ly/Telcom_dataset1")
Telcom_dataset1.head()

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [ ]:
Telcom_dataset2= pd.read_csv("http://bit.ly/Telcom_dataset2")
Telcom_dataset2.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [ ]:
Telcom_dataset3= pd.read_csv("http://bit.ly/Telcom_dataset3")
Telcom_dataset3.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]